<mat-progress-bar *ngIf="hidden_form"  mode="indeterminate" style="z-index: 3 ;"></mat-progress-bar>
<div *ngIf="hidden_form" class="hidden_all"></div>
<div class="back_login w-100 mt-5">
    <span (click) = "goLogin()">
      <i class="fas fa-chevron-left"></i> <span class="ml-3">Se connecter</span>
    </span>
</div>
<div class="user_img w-100">
    <div class="user_img_circle bg-white">
      <img src="assets/img/secret_logo.png"  style="width : 100% ; height : 100% ;" alt="">
    </div>
  </div>
  <div class="login_form flex-column w-100 px-4">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm"  >
      <mat-form-field class="w-100 mt-4">
          <input matInput placeholder="" type="password" name="password" [(ngModel)]="password" required>
          <mat-label style="font-size: 13px ; "><mat-icon>lock</mat-icon> Mot de pass</mat-label>
      </mat-form-field>
      <mat-form-field class="w-100 mt-4">
          <input matInput placeholder="" type="password" [pattern]="password" name="confirmation" [(ngModel)]="confirmation" required>
          <mat-label style="font-size: 13px ; "><mat-icon>lock</mat-icon> Confirmation</mat-label>
      </mat-form-field>
      <span *ngIf="error_credentials"  class="mt-2 text-danger" style="font-size: 10px ;">* Erreur !!</span>
      <input type="submit" value="Valider" class="btn_submit btn w-100 mt-3" [disabled]="!form.valid">
    </form>

  </div>
